body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#field {
    width: 1300px;
    height: 900px;
    background-color: green;
    margin: 50px auto;
}

#ball {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
}

.rectangle {
    position: absolute;
    width: 95%;
    height: 95%;
    background-color: rgba(0, 128, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
}

.line {
    position: absolute;
    width: 2px;
    height: 95%;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 128, 0, 0.5);
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: 1px solid white;
}

.penaltyleft {
    position: absolute;
    width: 200px;
    height: 500px;
    background-color: rgba(0, 128, 0, 0.5);
    border: 1px solid white;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.gateleft {
    position: absolute;
    width: 100px;
    height: 300px;
    background-color: rgba(0, 128, 0, 0.5);
    border: 1px solid white;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.penaltyright {
    position: absolute;
    width: 200px;
    height: 500px;
    background-color: rgba(0, 128, 0, 0.5);
    border: 1px solid white;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.gateright {
    position: absolute;
    width: 100px;
    height: 300px;
    background-color: rgba(0, 128, 0, 0.5);
    border: 1px solid white;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}